<a href="https://colab.research.google.com/github/WalnutEagle5118/Machine-Learning/blob/YBI-Foundation-Project/Project_2_Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Diabetes.csv')

In [ ]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.describe()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [ ]:
df.shape

(768, 9)

In [ ]:
df['diabetes'].value_counts()

0    500
1    268
Name: diabetes, dtype: int64

In [ ]:
df.groupby('diabetes').mean()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age
diabetes,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
y = df['diabetes']

In [ ]:
y.shape

(768,)

In [ ]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: diabetes, Length: 768, dtype: int64

In [ ]:
X = df.drop('diabetes',axis=1)

In [ ]:
X.shape

(768, 8)

In [ ]:
X

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0              6      148         72       35        0  33.6  0.627   50
1              1       85         66       29        0  26.6  0.351   31
2              8      183         64        0        0  23.3  0.672   32
3              1       89         66       23       94  28.1  0.167   21
4              0      137         40       35      168  43.1  2.288   33
..           ...      ...        ...      ...      ...   ...    ...  ...
763           10      101         76       48      180  32.9  0.171   63
764            2      122         70       27        0  36.8  0.340   27
765            5      121         72       23      112  26.2  0.245   30
766            1      126         60        0        0  30.1  0.349   47
767            1       93         70       31        0  30.4  0.315   23

[768 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mm = MinMaxScaler()

In [ ]:
X = mm.fit_transform(X)

In [ ]:
X

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train , X_test , y_train, y_test = train_test_split(X,y, test_size=0.3,stratify=y,random_state=69)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((537, 8), (231, 8), (537,), (231,))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()

In [ ]:
lr.fit(X_train,y_train)

LogisticRegression()

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
y_pred.shape

(231,)

In [ ]:
y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0])

In [ ]:
lr.predict_proba(X_test)

array([[0.75661114, 0.24338886],
       [0.75011484, 0.24988516],
       [0.30863259, 0.69136741],
       [0.78640346, 0.21359654],
       [0.86826602, 0.13173398],
       [0.80008098, 0.19991902],
       [0.6725679 , 0.3274321 ],
       [0.82027296, 0.17972704],
       [0.61909477, 0.38090523],
       [0.72980562, 0.27019438],
       [0.80792883, 0.19207117],
       [0.4618891 , 0.5381109 ],
       [0.83507296, 0.16492704],
       [0.74250822, 0.25749178],
       [0.88146519, 0.11853481],
       [0.73252906, 0.26747094],
       [0.55477993, 0.44522007],
       [0.89638825, 0.10361175],
       [0.32327163, 0.67672837],
       [0.79216472, 0.20783528],
       [0.84671157, 0.15328843],
       [0.60646032, 0.39353968],
       [0.62999935, 0.37000065],
       [0.44813556, 0.55186444],
       [0.71040529, 0.28959471],
       [0.72521521, 0.27478479],
       [0.63935458, 0.36064542],
       [0.76638383, 0.23361617],
       [0.87588078, 0.12411922],
       [0.91849277, 0.08150723],
       [0.72139283, 0.27860717],
       [0.93063963, 0.06936037],
       [0.75929189, 0.24070811],
       [0.35142057, 0.64857943],
       [0.80164522, 0.19835478],
       [0.55284312, 0.44715688],
       [0.48981788, 0.51018212],
       [0.72400707, 0.27599293],
       [0.92664355, 0.07335645],
       [0.67884352, 0.32115648],
       [0.74070844, 0.25929156],
       [0.83088175, 0.16911825],
       [0.73468719, 0.26531281],
       [0.71697992, 0.28302008],
       [0.49581476, 0.50418524],
       [0.7302704 , 0.2697296 ],
       [0.86114508, 0.13885492],
       [0.89469264, 0.10530736],
       [0.56821669, 0.43178331],
       [0.6719499 , 0.3280501 ],
       [0.68434779, 0.31565221],
       [0.80592777, 0.19407223],
       [0.58204966, 0.41795034],
       [0.89984632, 0.10015368],
       [0.49452655, 0.50547345],
       [0.37312272, 0.62687728],
       [0.88373751, 0.11626249],
       [0.85412322, 0.14587678],
       [0.83667681, 0.16332319],
       [0.81475572, 0.18524428],
       [0.86123479, 0.13876521],
       [0.45272449, 0.54727551],
       [0.49082577, 0.50917423],
       [0.31361495, 0.68638505],
       [0.89682997, 0.10317003],
       [0.59577517, 0.40422483],
       [0.91098021, 0.08901979],
       [0.64515138, 0.35484862],
       [0.66850572, 0.33149428],
       [0.6040247 , 0.3959753 ],
       [0.80659384, 0.19340616],
       [0.87289919, 0.12710081],
       [0.67599475, 0.32400525],
       [0.29019375, 0.70980625],
       [0.866505  , 0.133495  ],
       [0.34456427, 0.65543573],
       [0.24217281, 0.75782719],
       [0.87510002, 0.12489998],
       [0.79257114, 0.20742886],
       [0.69812973, 0.30187027],
       [0.64563205, 0.35436795],
       [0.34390437, 0.65609563],
       [0.44858819, 0.55141181],
       [0.8310451 , 0.1689549 ],
       [0.48169305, 0.51830695],
       [0.32212308, 0.67787692],
       [0.69822158, 0.30177842],
       [0.32380878, 0.67619122],
       [0.63305108, 0.36694892],
       [0.66857936, 0.33142064],
       [0.84525897, 0.15474103],
       [0.63752619, 0.36247381],
       [0.65067596, 0.34932404],
       [0.93742965, 0.06257035],
       [0.9417066 , 0.0582934 ],
       [0.89711775, 0.10288225],
       [0.69704217, 0.30295783],
       [0.83038712, 0.16961288],
       [0.77196137, 0.22803863],
       [0.66976974, 0.33023026],
       [0.27221309, 0.72778691],
       [0.67865523, 0.32134477],
       [0.6734679 , 0.3265321 ],
       [0.83651476, 0.16348524],
       [0.6254184 , 0.3745816 ],
       [0.44410997, 0.55589003],
       [0.87003728, 0.12996272],
       [0.78523661, 0.21476339],
       [0.55324004, 0.44675996],
       [0.78046196, 0.21953804],
       [0.31688525, 0.68311475],
       [0.7508923 , 0.2491077 ],
       [0.32882982, 0.67117018],
       [0.86614199, 0.13385801],
       [0.86393471, 0.13606529],
       [0.66101264, 0.33898736],
       [0.63935256, 0.36064744],
       [0.7398206 , 0.2601794 ],
       [0.64229477, 0.35770523],
       [0.74478144, 0.25521856],
       [0.57202884, 0.42797116],
       [0.61542738, 0.38457262],
       [0.77806925, 0.22193075],
       [0.10958062, 0.89041938],
       [0.59462354, 0.40537646],
       [0.34652851, 0.65347149],
       [0.78867591, 0.21132409],
       [0.55056095, 0.44943905],
       [0.78620388, 0.21379612],
       [0.80405133, 0.19594867],
       [0.68800402, 0.31199598],
       [0.78554827, 0.21445173],
       [0.89893966, 0.10106034],
       [0.76676391, 0.23323609],
       [0.34320185, 0.65679815],
       [0.66057495, 0.33942505],
       [0.11680832, 0.88319168],
       [0.66664344, 0.33335656],
       [0.45925974, 0.54074026],
       [0.76929326, 0.23070674],
       [0.6073334 , 0.3926666 ],
       [0.86188582, 0.13811418],
       [0.87793414, 0.12206586],
       [0.82836188, 0.17163812],
       [0.87829727, 0.12170273],
       [0.32231795, 0.67768205],
       [0.83334707, 0.16665293],
       [0.73815939, 0.26184061],
       [0.84800642, 0.15199358],
       [0.73704489, 0.26295511],
       [0.89880359, 0.10119641],
       [0.44099119, 0.55900881],
       [0.84022312, 0.15977688],
       [0.54061756, 0.45938244],
       [0.20541217, 0.79458783],
       [0.49077368, 0.50922632],
       [0.65724869, 0.34275131],
       [0.54567734, 0.45432266],
       [0.22028771, 0.77971229],
       [0.87032389, 0.12967611],
       [0.43219981, 0.56780019],
       [0.67600032, 0.32399968],
       [0.76897816, 0.23102184],
       [0.74326706, 0.25673294],
       [0.81479222, 0.18520778],
       [0.88737934, 0.11262066],
       [0.2640174 , 0.7359826 ],
       [0.82695512, 0.17304488],
       [0.6951641 , 0.3048359 ],
       [0.86423513, 0.13576487],
       [0.7035121 , 0.2964879 ],
       [0.75710166, 0.24289834],
       [0.87543166, 0.12456834],
       [0.84245818, 0.15754182],
       [0.71690283, 0.28309717],
       [0.41646353, 0.58353647],
       [0.84241278, 0.15758722],
       [0.59778567, 0.40221433],
       [0.84526439, 0.15473561],
       [0.60757919, 0.39242081],
       [0.38156316, 0.61843684],
       [0.14144211, 0.85855789],
       [0.76365412, 0.23634588],
       [0.8500562 , 0.1499438 ],
       [0.65730344, 0.34269656],
       [0.8574151 , 0.1425849 ],
       [0.39688829, 0.60311171],
       [0.75419419, 0.24580581],
       [0.8973186 , 0.1026814 ],
       [0.7409866 , 0.2590134 ],
       [0.83487258, 0.16512742],
       [0.84979695, 0.15020305],
       [0.58816552, 0.41183448],
       [0.83231171, 0.16768829],
       [0.75361882, 0.24638118],
       [0.79166544, 0.20833456],
       [0.88004965, 0.11995035],
       [0.79851824, 0.20148176],
       [0.5887778 , 0.4112222 ],
       [0.45989709, 0.54010291],
       [0.7858671 , 0.2141329 ],
       [0.93606521, 0.06393479],
       [0.37304515, 0.62695485],
       [0.76521584, 0.23478416],
       [0.67317942, 0.32682058],
       [0.8028326 , 0.1971674 ],
       [0.8186901 , 0.1813099 ],
       [0.87472616, 0.12527384],
       [0.60378246, 0.39621754],
       [0.35659795, 0.64340205],
       [0.83011019, 0.16988981],
       [0.68987121, 0.31012879],
       [0.51968684, 0.48031316],
       [0.87741172, 0.12258828],
       [0.46995619, 0.53004381],
       [0.4160288 , 0.5839712 ],
       [0.2576344 , 0.7423656 ],
       [0.3985003 , 0.6014997 ],
       [0.22166329, 0.77833671],
       [0.63227739, 0.36772261],
       [0.7659141 , 0.2340859 ],
       [0.28482854, 0.71517146],
       [0.85809358, 0.14190642],
       [0.53429036, 0.46570964],
       [0.77655478, 0.22344522],
       [0.71305563, 0.28694437],
       [0.48014231, 0.51985769],
       [0.5302116 , 0.4697884 ],
       [0.56296562, 0.43703438],
       [0.65018695, 0.34981305],
       [0.50045283, 0.49954717]])

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[141   9]
 [ 40  41]]

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.78      0.94      0.85       150
           1       0.82      0.51      0.63        81

    accuracy                           0.79       231
   macro avg       0.80      0.72      0.74       231
weighted avg       0.79      0.79      0.77       231

#  Get Future Predictions

In [ ]:
x_new = df.sample(1)

In [ ]:
x_new

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
636,5,104,74,0,0,28.8,0.153,48,0

In [ ]:
x_new.shape

(1, 9)

In [ ]:
x_new = x_new.drop('diabetes',axis=1)

In [ ]:
x_new

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
636            5      104         74        0        0  28.8  0.153   48

In [ ]:
x_new.shape

(1, 8)

In [ ]:
x_new = mm.fit_transform(x_new)

In [ ]:
y_pred_new = lr.predict(x_new)

In [ ]:
y_pred_new

array([0])

In [ ]:
lr.predict_proba(x_new)

array([[0.99428632, 0.00571368]])

# Predicted and Actual Class is Zero(0) that is Non-Diabetic