<a href="https://colab.research.google.com/github/WalnutEagle5118/Machine-Learning/blob/YBI-Foundation-Project/YBIFoundation_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Title of Project : To check of chance of Getting Admission

Obejctive : We will use the Admission Database in order to find the chance of a student with certain set of marks will get admission or not

Data Source : The data is taken from the public dataset of YBIFoundation Github

Importing Library:

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
import seaborn as sns

Importing Data :

In [11]:
df = pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Admission%20Chance.csv')

Describing Data :

In [12]:
df.describe()

        Serial No   GRE Score  ...    Research  Chance of Admit
count  400.000000  400.000000  ...  400.000000        400.000000
mean   200.500000  316.807500  ...    0.547500          0.724350
std    115.614301   11.473646  ...    0.498362          0.142609
min      1.000000  290.000000  ...    0.000000          0.340000
25%    100.750000  308.000000  ...    0.000000          0.640000
50%    200.500000  317.000000  ...    1.000000          0.730000
75%    300.250000  325.000000  ...    1.000000          0.830000
max    400.000000  340.000000  ...    1.000000          0.970000

[8 rows x 9 columns]

In [13]:
df.head()

   Serial No  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0          1        337          118  ...  9.65         1              0.92
1          2        324          107  ...  8.87         1              0.76
2          3        316          104  ...  8.00         1              0.72
3          4        322          110  ...  8.67         1              0.80
4          5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [15]:
df.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

Define Target Vairable Y and Feature Variables X

In [18]:
X = df.drop(['Chance of Admit '], axis = 1)

In [19]:
Y = df['Chance of Admit ']

Train Test Split

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 69)

In [23]:
X_test

     Serial No  GRE Score  TOEFL Score  ...  LOR   CGPA  Research
209        210        301          104  ...   4.0  8.12         1
286        287        336          118  ...   4.0  9.19         1
284        285        340          112  ...   4.5  9.66         1
61          62        307          101  ...   3.0  8.20         0
362        363        338          115  ...   5.0  9.23         1
..         ...        ...          ...  ...   ...   ...       ...
287        288        324          114  ...   4.5  9.08         1
89          90        316          109  ...   3.5  8.76         1
72          73        321          111  ...   5.0  9.45         1
150        151        334          114  ...   4.0  9.43         1
46          47        329          114  ...   5.0  9.30         1

[120 rows x 8 columns]

Modeling

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
lr = LinearRegression()

In [28]:
lr.fit(X_train, Y_train)

LinearRegression()

Prediction :

In [29]:
Y_pred = lr.predict(X_test)

In [30]:
Y_pred

array([0.66739859, 0.91133876, 0.95018544, 0.60032899, 0.9375779 ,
       0.77739305, 0.76954994, 0.70766722, 0.7932457 , 0.56890221,
       0.56812953, 0.8416794 , 0.63077186, 0.87277   , 0.66295013,
       0.74129825, 0.42590531, 0.57622682, 0.8663653 , 0.75898221,
       0.69181045, 0.68048296, 0.60662313, 0.77863926, 0.6955442 ,
       0.67372718, 0.48889524, 0.8239245 , 0.67991659, 0.68534362,
       0.54616787, 0.94708844, 0.70642573, 0.52633716, 0.65178906,
       0.78388286, 0.81199341, 0.71718378, 0.85001124, 0.56841115,
       0.56038444, 0.88888756, 0.66392095, 0.72284123, 0.71835108,
       0.79456218, 0.65172699, 0.7497228 , 0.71776046, 0.63859634,
       0.80924021, 0.93910646, 0.85969337, 0.54170363, 0.61697121,
       0.84747902, 0.76739013, 0.75168834, 0.82818234, 0.66570676,
       0.53072888, 0.707209  , 0.95061861, 0.79700572, 0.76407036,
       0.76203337, 0.71705854, 0.64871341, 0.81007753, 0.79821358,
       0.70013071, 0.68798444, 0.86418615, 0.940244  , 0.82312145,
       0.81573359, 0.87387794, 0.7174737 , 0.74206784, 0.8173833 ,
       0.63973993, 0.66863417, 0.75582744, 0.59510594, 0.56760421,
       0.48501814, 0.70717113, 0.78475788, 0.57755423, 0.75915873,
       0.67200745, 0.83119593, 0.92216175, 0.80036303, 0.63401323,
       0.66349629, 0.83310527, 0.67579347, 0.69253349, 0.89896219,
       0.58314862, 0.79275661, 0.66016684, 0.66225268, 0.78804797,
       0.89024792, 0.65992508, 0.65234301, 0.50268331, 0.53334983,
       0.73506438, 0.84947585, 0.94392341, 0.77004624, 0.91283926,
       0.88036358, 0.75865436, 0.88302992, 0.89112471, 0.88032137])

Model Accuracy :

In [31]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [33]:
mean_absolute_error(Y_test, Y_pred)

0.04246573846702617

In [34]:
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error

In [36]:
mean_absolute_percentage_error(Y_test, Y_pred)

0.06780658264449536

In [37]:
mean_absolute_error(Y_test, Y_pred)

0.04246573846702617

In [38]:
lr.intercept_

-1.1759142577840778

In [39]:
lr.coef_

array([0.00015134, 0.00128416, 0.00373311, 0.00672235, 0.00371597,
       0.01896048, 0.11020317, 0.03289127])

In [42]:
import statsmodels.api as sm
X_stat = sm.add_constant(X, has_constant='add')
model = sm.OLS(Y, X_stat)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Chance of Admit    R-squared:                       0.819
Model:                            OLS   Adj. R-squared:                  0.815
Method:                 Least Squares   F-statistic:                     220.9
Date:                Sun, 27 Feb 2022   Prob (F-statistic):          6.52e-140
Time:                        11:42:37   Log-Likelihood:                 553.63
No. Observations:                 400   AIC:                            -1089.
Df Residuals:                     391   BIC:                            -1053.
Df Model:                           8
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -1.2936      0.120    -10.775      0.000      -1.530      -1.058
Serial No             0.0002   2.77e-05      5.753      0.000       0.000       0.000
GRE Score             0.0018      0.001      3.129      0.002       0.001       0.003
TOEFL Score           0.0037      0.001      3.487      0.001       0.002       0.006
University Rating     0.0088      0.005      1.903      0.058      -0.000       0.018
 SOP               9.937e-05      0.005      0.018      0.985      -0.010       0.011
LOR                   0.0215      0.005      4.041      0.000       0.011       0.032
CGPA                  0.1053      0.012      8.786      0.000       0.082       0.129
Research              0.0244      0.008      3.185      0.002       0.009       0.039
==============================================================================
Omnibus:                       65.071   Durbin-Watson:                   0.819
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              111.066
Skew:                          -0.955   Prob(JB):                     7.62e-25
Kurtosis:                       4.737   Cond. No.                     1.55e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.55e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)